<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="plant.title" name="title" />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" id="description" required [(ngModel)]="plant.description" name="description" />
      </div>

      <div class="form-group">
        <label for="tasks">Tasks</label>
        <div *ngFor="let control of tasksForm.controls; index as i" class="task-item">
          <input class="form-control" [formControl]="$any(tasksForm).controls[i]"/>
          <button class="btn btn-danger" (click)="removeTask(i)">X</button>
        </div>
      </div>

      <button (click)="addTasksForm()" class="btn btn-sm btn-secondary">+ Add task</button>
      <br><br>
      <button (click)="savePlant()" class="btn btn-success">Save plant</button>
    </div>

    <div *ngIf="submitted">
      <h4>Plant was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newPlant()">Add</button>
    </div>
  </div>
</div>
