<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>My Plants</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let plant of plants; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActivePlant(plant, i)"
        >
          {{ plant.title }}
        </li>
      </ul>
  
      <button class="mt-3 btn btn-danger" (click)="removeAllPlants()">
        Remove All
      </button>

      <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
      
    </div>
    <div class="col-md-6">
      <app-plants-details
        [viewMode]="true"
        [currentPlant]="currentPlant"
      ></app-plants-details>
    </div>
  </div>
  